<div class="wrapper">
  <nav id="sidebar">
      <div class="sidebar-header">
          <h3 class="text-center">QMS</h3>
      </div>

      <ul class="list-unstyled components p-1">
          <li class="active">
              <a href="#">Home</a>
              
          </li>
          <li>
              <a href="#">Manage Workers</a>
          </li>
          <li>
              <a href="#" >Manage Prices</a>
          </li>
          <li>
              <a href="#">List of feedbacks</a>
          </li>
          <li>
              <a href="#">Notifications</a>
          </li>
      </ul>

  </nav>

  <div id="content">
    <header class="py-3 border-bottom">
      <div class="container-fluid d-grid gap-3 align-items-center" style="grid-template-columns: 1fr 2fr;">
        
          <div class="d-flex align-items-center col-lg-4 mb-2 mb-lg-0 link-dark text-decoration-none">
          </div>
     
  
        <div class="d-flex align-items-center">
          <div class="w-100 me-3">
            
          </div>
  
          <div class="flex-shrink-0 dropdown">
            <a href="#" class="d-block link-dark text-decoration-none dropdown-toggle mright" id="umenu" data-bs-toggle="dropdown" aria-expanded="false">
              <img src="https://github.com/mdo.png" alt="mdo" width="32" height="32" class="rounded-circle"> Prolive
            </a>
            <ul class="dropdown-menu text-small shadow" aria-labelledby="umenu">
              <li><a class="dropdown-item" href="#">Settings</a></li>
              <li><a class="dropdown-item" href="#">Profile</a></li>
              <li><hr class="dropdown-divider"></li>
              <li><a class="dropdown-item" href="#">Sign out</a></li>
            </ul>
          </div>
        </div>
      </div>
    </header>
    <div class="content">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>

      
    