<div class="container ">
    <div class="row d-flex justify-content-center mx-auto">
    <div class="card w-auth p-4 mt-50">
        <h3 class="text-center mb-3">QMS | Authorization</h3>
        <form>
            <div class="mb-3">
              <label for="email" class="form-label">Email:</label>
              <input type="email" class="form-control" id="email">
            </div>
            <div class="mb-3">
              <label for="password" class="form-label">Password:</label>
              <input type="password" class="form-control" id="password">
            </div>
            
            <button type="submit" class="btn btn-primary">Auth</button>
          </form>
          <a routerLink="/registration" routerLinkActive="true" class="mt-1 text-end">Registration</a>
    </div>
    </div>
</div>
